:root {
  --fallback-color: hsl(195, 75%, 52%);
}

body {
  font-family: "Inconsolata", monospace;
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
}

a {
  border-bottom: 3px solid var(--fallback-color);
  color: currentColor;
  text-decoration: none;
}

p {
  font-size: 1.2rem;
}

.board,
.circle {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.board {
  z-index: -2;
}

.circle {
  z-index: -1;
}

.divider {
  opacity: 0.4;
}

.main {
  bottom: 6rem;
  left: 4rem;
  position: absolute;
  width: 45rem;
  z-index: 1;
}

.name {
  font-style: italic;
}

@media screen and (max-width: 768px) {
  body {
    margin: 1rem;
  }

  a {
    border-bottom-width: 2px;
  }

  .main {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
  }
}
