body {
	margin: 0;
}
h1 { 
	font-family: "Merriweather";
}
p {
	font-family: "Open Sans";
}
a {
	border-bottom: 3px dashed;
	color: currentColor;
	text-decoration: none;
}
canvas {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
.main {
	bottom: 6rem;
	left: 4rem;
	position: absolute;
	width: 45rem;
	z-index: 1;
}
.name {
	font-style: italic;
}
@media screen and (max-width: 768px) {
	body {
		margin: 1rem;
	}
	.main {
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
	}
}